<component name="ArtifactManager">
  <artifact type="war" name="springMVC_login:war">
    <output-path>$PROJECT_DIR$/springMVC_login/target</output-path>
    <root id="archive" name="springMVC_login.war">
      <element id="artifact" artifact-name="springMVC_login:war exploded" />
    </root>
  </artifact>
</component>