<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxau.p2p.base.mapper.LogininfoMapper" >
  <resultMap id="BaseResultMap" type="com.jxau.p2p.base.domain.Logininfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `logininfo`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jxau.p2p.base.domain.Logininfo" useGeneratedKeys="true" keyProperty="id" >
    insert into `logininfo` (username, password, state)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jxau.p2p.base.domain.Logininfo" >
    update `logininfo`
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, username, password, state
    from `logininfo`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, username, password, state
    from `logininfo`
  </select>

  <select id="getCountByUsername" resultType="int">
		SELECT count(id) from logininfo where username = #{username}
	</select>
</mapper>